html {
  background-color; #c9b5ab;
  font-family: Georgia;
  line-height: 1.5;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
}

blockquote{
  font-size: 0.88rem;
  font-style: italic;
}

cite {
  font-size: 1.5rem;
  font-style: italic;
}
